
<!-- Bring in the Bootstrap CSS File -->
<link rel="stylesheet" href="/static/bootstrap.css">
<div>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link"  href="#">Next Page</a>
    </li>
</div>  


       
<!--Second Body Section -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-3 font-weight-normal">How to play!</h1>
      <p class="lead font-weight-normal"> Adventure through a 40 space Candyland gameboard. You will meet a character every 10 spaces including Mr. Mint, Mr. Jolly, Queen Frostine, and Gloppy. These characters can be good or evil, good ones are able to boost you to the next character. Evil characters are able to kill you if answer incorrectly. At each character you will be asked a random trivia question.  
      </p>
      <a class="btn btn-outline-secondary" href="https://colab.research.google.com/drive/1F8VgK1zFX95XSK50tcDh48Lax-yva6Nc?usp=sharing">Play now!</a>
    </div>
   
  </div>

